{% extends "app/layout.html" %}

{% block title %}

<div class="jumbotron">
    <h1>The District Project</h1>
    <p class="lead">
        BRINGING LIFE CLOSER.
        IMPROVING THE COMMUNITY.
    </p>
    <p><a href="/about" class="btn btn-primary btn-large">Read more &raquo;</a></p>
</div>

{% endblock %}

{% block content %}
<div class="lead">
    {% if latest_news %}
<!-- thymeleaf -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News
                    <small color="red">LATEST</small>
                </h1>
            </div>
        </div>
        {% for news in latest_news %}
            <div class="row">
                <div class="col-md-3 portfolio-item">
                <div class="col-md-4">
                <h2><a href="{% url 'myApp:news' %}">{{news.news_name}}</a></h2>
                <p>
                    <p>{{news.news_text|truncatewords:10}}</p>
                </p>
                <p><a class="btn btn-default" href="/">Read more &raquo;</a></p>
                </div>
            </div>
    {% endfor %}
{% else %}
      <p> "No available news" </p>
{% endif %}

</div>

{% endblock %}
